.cart-container {
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
  /* background-color: #2c3e50; */
  border-radius: 8px;
}

.empty-cart-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.cart-items {
  margin-bottom: 2rem;
  overflow-x: auto;
}

.cart-items-header,
.cart-item {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.cart-items-header p {
  font-weight: bold;
}

.cart-item {
  border-bottom: 1px solid #34495e;
  padding: 1rem 0;
}

.cart-item-image {
  max-width: 80px;
  aspect-ratio: 16 / 12;
  object-fit: cover;
  border-radius: 0.3rem;

  @media (max-width: 700px) {
    max-width: 65px;
  }
}

.remove-icon {
  cursor: pointer;
  font-size: var(--fs-600);
  color: var(--danger-color);
  transition: color 0.3s ease;
}

.remove-icon:hover {
  color: var(--danger-color-dark);
}

.cart-total {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 8px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-total h2 {
  border-bottom: 2px solid #e2e2e2;
  padding-bottom: 0.3rem;
}

.cart-total-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subtotal,
.final-total,
.taxamonut {
  display: flex;
  justify-content: space-between;
}

.final-total p {
  font-size: var(--fs-600);
  font-weight: bold;
}

.cart-total hr {
  margin: 1px 0;
  border: none;
  height: 1px;
  background-color: #e2e2e2;
}
