.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--clr-neutral-800);
  padding-block: 0.5rem;

  position: sticky;
  z-index: 1000;
  top: 0;

  background-color: var(--primary-color);
  /* background-color: aliceblue; */
}

ul {
  padding-inline-start: 0px !important;
}

.navbar_menu {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.navbar_menu .active {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--accent-color);
}

.menu_item {
  color: var(--neutral-color);
  font-size: var(--fs-500);
  transition: 0.3s;
  text-transform: capitalize;
}

.navbar-right {
  display: flex;
  gap: 2rem;
}

.search_icon,
.cart_icon {
  font-size: var(--fs-600);
  color: var(--neutral-color);

  transition: 0.3s;
  /* opacity: 0.8; */
}
.menu_item:hover,
.search_icon:hover,
.cart_icon:hover {
  color: var(--accent-color);
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--clr-accent-main);
  border-radius: 50%;
  top: -2px;
  right: -3px;
}

/* responsive */

@media (max-width: 600px) {
  .home {
    display: none;
  }

  .navbar-right,
  .navbar_menu {
    gap: 1rem;
  }
}
