.bg_img_check {
  background-image: url(../../assets/spices.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* typography */
  letter-spacing: 1px;

  /* background opacity */
  position: relative;
  isolation: isolate;

  line-height: 1.5;
}

.bg_img_check::after {
  content: "";
  position: absolute;

  background: var(--clr-neutral-900);
  opacity: 0.4;

  inset: 0;
  z-index: -1;
}

.footer_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;

  z-index: 100;

  backdrop-filter: blur(1px);
  height: 100%;
  width: 100%;
}

.footer .flex_row {
  display: flex;
  gap: 2rem;
}

.footer .flex_col {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  padding-left: 0.4rem;
}

.footer a:hover {
  text-decoration: underline;
}
.order_online_img {
  width: 8rem;
  aspect-ratio: 20 / 12;
  border-radius: 0.4rem;
  transition: 0.3s;
}
.order_online_img:hover {
  transform: scale(1.1);
}
